/* style of home page */
@font-face {
  font-family: "futura-bold";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: normal;
  src: url("../fonts/FuturaBold.otf");
  src: local("futura-bold"), url("../fonts/FuturaBold.otf") format("otf"),
    url("../fonts/FuturaBold.otf") format("truetype");
}
@font-face {
  font-family: "futura-medium";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: normal;
  src: url("../fonts/FuturaMedium.otf");
  src: local("futura-medium"), url("../fonts/FuturaMedium.otf") format("otf"),
    url("../fonts/FuturaMedium.otf") format("truetype");
}
@font-face {
  font-family: "BankGothicMedium";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: normal;
  src: url("../fonts/BankGothicMedium.otf");
  src: local("BankGothicMedium"),
    url("../fonts/BankGothicMedium.otf") format("otf"),
    url("../fonts/BankGothicMedium.otf") format("truetype");
}
@font-face {
  font-family: "square";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: normal;
  src: url("../fonts/Square.ttf");
  src: local("square"),
    url("../fonts/Square.ttf") format("ttf"),
    url("../fonts/Square.ttf") format("truetype");
}
/* ===================================================================================== */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  transition: all 0.2s ease-in-out;
  height: auto;
  background-color: transparent;

  text-align: center;
  line-height: 40px;
}
.header.active { 
  padding: 0.5rem 3rem !important;
  background-color: white;
}
/* .navbar{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 27%, rgba(255, 255, 255, 0.5)), linear-gradient(to top, #ffffff 78%, rgba(0, 0, 0, 0) -2%);
} */

.navbar-brand img {
  width: 100%;
}
.navbar-brand img:hover {
  opacity: 1;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-family: "futura-medium";
  font-size: 11px;
  letter-spacing: 4.33px;
  opacity: 0.7;
  padding-left: 2.5rem;
  font-weight: bold;
  color: #ffffff;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  opacity: 1;
}

.navbar-nav .nav-item .nav-link img {
  height: 46px;
  width: 46px;
}
.navbar-light .navbar-toggler {
  border-color: black;
  height: 40px;
}
.navbar-light .navbar-toggler-icon {
  background-color: black;
}
.imgInnerSlider {
  margin: auto;
  display: block;
}
.carousel-control-prev,
  .carousel-control-next{
    top: 500px !important;
    bottom: unset;
  } 
.carousel-caption {
  bottom: 32%;
  top: 30%;
}
.carousel-caption h1 {
  padding-top: 4rem;
  font-size: 80px;
  font-family: "BankGothicMedium";
  margin-left: -140px;
  letter-spacing: 2rem;
}
.carousel-caption h2 {
  font-family: "BankGothicMedium";
  margin-left: -140px;
  margin-right: -100px;
  opacity: 0.7;
  letter-spacing: 0.5rem;
}
.imgInnerSlider {
  position: absolute;
  z-index: -1;
  top: -100px;
}
.btnShopHeader {
  background-color: #ffffff;
  border: solid 1.2px #ffffff;
  width: 320px;
  font-family: "futura-bold";
  font-size: 14px;
  letter-spacing: 8px;
  margin-top: 3rem;
  margin-left: 1.8rem;
}
.btnShopHeader:hover {
  background-color: #c50a0a;
  color: #ffffff;
  border: solid 1.2px #c50a0a;
}
.newArrival {
  transition-timing-function: ease;
  transition: all 0.2s;
}
.newArrival:hover {
  opacity: 0.8;
  cursor: pointer;
}
/* ======================================================================== */
.cards img:hover, .cards2 img:hover{
  opacity: 0.8;
  cursor: pointer;
}
.bottom-right {
  position: absolute;
  bottom: 14px;
  text-align: center;
  left: 10%;
}
.bottom-right2 {
  position: absolute;
  bottom: 14px;
  text-align: center;
  left: 10%;
  top: 300px;
}
.bottom-right h3 ,.bottom-right2 h3 {
  font-size: 25px;
  font-family: "BankGothicMedium";
}
.bottom-right p ,.bottom-right2 p {
  font-size: 16px;
  opacity: 0.6;
  font-family: "BankGothicMedium";
}

.nav-pills {
  border-bottom: solid 1px #867d7d;
  display: flex;
  justify-content: center;
}
.nav-pills2{
  border-bottom: 1px solid #e4eaee;
}
.nav-pills .nav-item .nav-link {
  font-family: "BankGothicMedium";
  color: #040404;
  padding: 1rem 2rem;
  opacity: 0.6;
  font-size: 20px;
}
.nav-pills2 .nav-item .nav-link {
  font-family: "BankGothicMedium";
  color: #d4d9dd;
  padding: 1.5rem;
  opacity: 0.6;
  font-size: 16px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: white;
  color: #c50a0a;
  /* font-weight: bold; */
  opacity: 1;
  border-bottom: 2px solid #c50a0a;
  border-radius: 0;
}
.boxShirt {
  background-color: #f3f3f3;
}
.pText {
  font-family: "BankGothicMedium";
  opacity: 0.4;
  font-size: 20.2px;
  color: #000000;
}
.pTextShoping {
  font-family: "BankGothicMedium";
  opacity: 0.4;
  font-size: 17.2px;
  color: #000000;
}
.imgCross {
  position: absolute;
  margin-top: 10px;
  top: -50px;
  right: 0;
  left: 130px;
  height: 400px;
}
.imgShirt {
  position: absolute;
  bottom: 0;
  top: 120px;
  left: -130px;
  width: 150%;
}
.salary {
  border-bottom: 2px solid #c50a0a;
  font-family: "BankGothicMedium";
}
.salary:hover {
  text-decoration: none;
}
.entire {
  font-family: "BankGothicMedium";
  color: #010101;
  font-size: 22px;
  opacity: 0.7;
}
.top-right {
  position: absolute;
  text-align: center;
  background-color: #c50a0a;
  border-radius: 50%;
  top: 12px;
  color: white;
  padding: 0.8rem 0.5rem;
  font-size: 13px;
  right: 3px;
}
.commit,
.brand {
  font-family: "BankGothicMedium";
}
.brand {
  opacity: 0.7;
  font-size: 24px;
}
.shopButton {
  border: 1px solid #c50a0a;
  padding: 1rem 3rem;
  color: #cf021b;
  font-family: "futura-bold";
  font-size: 13.2px;
  letter-spacing: 5.2px;
}
.shopButton:hover {
  background-color: #c50a0a !important;
  color: white;
}
.shopNow {
  padding: 1rem 1rem;
  text-align: center;
  background-color: #cacbd0;
  border: solid 1px #000000;
  font-size: 11px;
  opacity: 0.8;
  color: black;
  border-radius: 5px;
  font-family: "futura-bold";
}
.shopNow:hover {
  color: white;
  border: 1px solid #c50a0a;
  opacity: 1;
  background-color: #c50a0a;
  text-decoration: none;
}

.had {
  font-family: "futura-bold";
  font-size: 11px;
  color: #000000;
}
.couchEdit {
  position: absolute;
  left: 0;
  margin-top: -130px;
  margin-bottom: -20px;
}
.imgEdit {
  position: absolute;
  right: -100px;
  margin-top: -160px;
  width: 100%;
  bottom: -180px;
}
.btnShop {
  background-color: #c50a0a;
  font-size: 13.2px;
  letter-spacing: 5.2px;
  font-weight: bold;
  font-family: "futura-medium";
}
.btnShopH{
  background-color: white;
  border-radius: 0;
  border: 1px solid black;
  padding: 1rem 2rem;
  font-size: 13.2px;
  text-transform: uppercase;
  letter-spacing: 5.2px;
  font-weight: bold;
  font-family: "futura-medium";
}
.btnShopH:hover {
  background-color: #c50a0a;
  color: white;
  border: 1px solid #c50a0a;
}
.btnShop:hover {
  background-color: #ffffff;
  color: #c50a0a !important;
  border: 1px solid #c50a0a;
}
/* ========================================================================= */
.footer .jumbotronFooter {
  background-color: #dcdde1;
  border-radius: 0;
}
.footer .jumbotronFooter h6 {
  font-size: 11px;
  letter-spacing: 4.33px;
  font-family: "futura-bold";
  color: #000000;
  line-height: 1.1rem;
  opacity: 0.7;
  padding-bottom: 2rem;
}
.footer .jumbotronFooter p a {
  font-size: 12px;
  font-weight: 500;
  opacity: 0.7;
  font-family: "futura-medium";
  letter-spacing: 2.62px;
  color: #000000;
}
.jumbotronFooter2 {
  background-color: #cacbd0;
  padding: 2rem 1rem 1.2rem 1rem;
  border-radius: 0;
  margin-bottom: 0;
}
.jumbotronFooter2 .footLink {
  font-family: "futura-bold";
  font-size: 11px;
  color: #000000;
  opacity: 0.7;
  padding-top: 1rem;
  letter-spacing: 1px;
}
.jumbotronFooter2 .footLink:hover {
  opacity: 1;
}
.jumbotronFooter2 p {
  text-align: center;
}
/* =============================== Page Shoping ======================================= */
.selecSize li{
  border: none;
  cursor: pointer;
}
.selectColor li{
  margin-right: 1rem;
  height: 34px;
  width: 34px;
}
.bg-selected{
  border: 2px solid #151212 !important;
  border-radius: 5px;
}
.bg-selectedC{
  border: 2px solid #151212 !important;
  border-radius: 0;
  padding: 5px;
}
.swiper-pagination-bullet {
  display: none;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  position: absolute;
  top: 30px;
  right: 10%;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  position: absolute;
  top: 30px;
  right: 20%;
  left: unset;
}
/* =================================== Page Comming Soon =============================== */
.nvLnkComming {
  font-family: "BankGothicMedium";
  letter-spacing: 9px;
  font-size: 18px;
  color: #ffffff;
}
.newsletter input::placeholder {
  color: #303737;
  font: italic;
  font-family: "BankGothicMedium";
  font-size: 18px;
  opacity: 0.4;
  letter-spacing: 0.1rem;
}
.newsletter button {
  border-radius: 0;
}
.newsletter input,
.newsletter .btn {
  height: 4rem;
  font-size: 20px;
  /* border:2px solid #e02020; */
}
.newsletter .form-control {
  width: 30%;
}
.btnSign {
  background-color: #e02020;
  padding: 1rem 2rem;
  font-family: "BankGothicMedium";
}
.comming {
  background-image: url(../images/comingSoon.jpg);
  background-size: cover;
}
@media screen and (min-width:700px){
  .comming{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
/* =========================================== Categories ===================== */
.ctegoryHead{
  background: url(../images/bgCategories.jpg);
  background-size: cover;
  margin-top: 94px;
}
.introduction h2{
  color: #000000;
  font-size: 28px;
  font-family: "BankGothicMedium";
}
.introduction p a{
  color: #c50a0a;
  font-weight: 500;
}
.introduction h5{
  color:#123761;
  font-size: 16px;
  opacity: 0.5;
}
.introduction h6{
  color: #0c2c50;
  font-size: 18.2px;
  font-weight: 500;
  opacity: 0.7;
  font-family: "BankGothicMedium";
}

/* ============================================ Check Out ===================== */
.chekOutNav{
  border-bottom: solid 1.2px #e2d8d8;
}
.formCheckOut .form-control{
  height: 54px;
  border-radius: 3px;
  border: solid 1px #dde3e8;
  background-color: #ffffff;
}
.formCheckOut label{
  color: #d4d9dd;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.formCheckOut .form-control:focus{
  box-shadow: none;
  border: 1px solid #71b6ef;
}
.btnContinue{
  height: 48px;
  background-color: #000000;
  font-family: "BankGothicMedium";
  color: #ffffff;
}

.btnContinue:hover{
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
}

.back{
  color: #788995;
  font-size: 16px;
  font-weight: 500;
}

.shopCart{
  background-color:#f3f3f3;
}

.badge-danger{
  border-radius: 50%;
}

.media img{
  background-color: #ffffff;
  padding: 0.5rem;
}

.media p{
  color: #788995;
  font-weight: 500;
}

.have{
  font-size: 14px;
  color: #1b2125;
}

.subt{
  font-size: 14px;
  color: #788995;
}

.tot span{
  font-size: 16px;
  font-weight: bold;
}

/* ============================================ Orders ===================== */
.bankGothFont{
  font-family: "BankGothicMedium";
}
.bankGothFontOpacity{
  font-family: "BankGothicMedium";
  opacity: 0.5;
}
/* ============================================ Media Query ================= */

@media screen and (min-width: 800px) {
  .had {
    text-align: left !important;
  }
  .boxCouch {
    height: 420px;
    background-color: #f3f3f3;
  }
  .btnShop {
    padding: 1rem 4rem;
  }
}

@media screen and (max-width: 500px) {
  .couchEdit {
    position: relative;
    padding-top: 9rem;
    padding-left: 10%;
  }
  .imgInnerSlider {
    margin-left: -1rem;
    height: 500px;
  }
  .btnShop {
    padding: 1rem 1rem;
    font-size: 11.5px;
  }
  .carousel-caption h1 {
    padding-top: 4rem;
    font-size: 46px;
    font-family: "BankGothicMedium";
    margin-left: -40px;
    letter-spacing: 0.6rem;
  }
  .carousel-caption h2 {
    font-family: "BankGothicMedium";
    margin-left: -70px;
    margin-right: -100px;
    font-size: 30px;
    opacity: 0.7;
    letter-spacing: 0.5rem;
  }
  .btnSign {
    display: block !important;
    width: 100%;
    border-radius: 5px !important;
  }
  .inptEmail {
    width: 100% !important;
    border-radius: 5px 5px 5px 5px !important;
  }
}



@media screen and (max-width: 1100px) {
  .imgCross {
    position: absolute;
    margin-top: 10px;
    top: -50px;
    right: 0;
    left: 10px;
    height: 400px;
  }
  .imgEdit {
    right: -100px !important;
  }
}

@media screen and (max-width: 1400px) {
  .imgEdit {
    right: -100px !important;
  }
}

@media screen and (max-width: 1600px) {
  .imgEdit {
    right: -100px !important;
  }
}

@media screen and (max-width: 1024px) {
  .imgEdit {
    position: absolute;
    right: -30px !important;
    margin-top: -160px;
    width: 100%;
    bottom: -180px;
  }
}

@media screen and (max-width: 900px) {
  .btnShopHeader {
    width: 230px;
    margin-left: 0rem;
  }

  .couchEdit {
    position: relative;
    padding-top: 9rem;
    padding-left: 32%;
  }
  .shopButton {
    padding: 1rem 1rem;
    letter-spacing: 2px;
    font-size: 13px;
  }
  .imgEdit {
    display: none;
  }
  .imgCross {
    display: none;
  }
  .imgShirt {
    position: relative;
    width: 100%;
    top: 0;
    left: -9px;
  }
  .btnShop {
    margin-bottom: 2rem;
  }
  .nav-pills .nav-item .nav-link {
    padding: 1rem 1rem;
  }
  .bottom-right ,.bottom-right2{
    left: 10%;
  }
  .bottom-right h3 {
    font-size: 16px;
  }
  .bottom-right p {
    font-size: 14px;
  }
  .cards img {
    height: 400px;
  }
}

@media screen and (max-width: 320px) {
  .slider1 .carousel-item img {
    padding-right: 15rem;
    height: 450px;
    width: 310px !important;
    /* max-width: 90% !important; */
    margin-right: 68px !important;
  }
  .newsletter input,
  .newsletter .btn {
    font-size: 17px;
}
  .carousel-caption h1 {
    padding-top: 4rem;
    font-size: 38px;
    margin-left: -35px;
    letter-spacing: 0.6rem;
  }
  .btnShopHeader {
    margin-left: -1rem;
  }
}

@media screen and (max-width: 790px) {
  .direction {
    display: none;
  }
  .main {
    height: 790px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .navbar-expand-lg {
    padding: 1rem 1.5rem !important;
  }
  .newsletter {
    padding: 1rem;
  }
  .input-group-btn {
    display: block !important;
    width: 100% !important;
    padding-top: 2rem;
  }
  .nvLnkComming {
    letter-spacing: 1px;
    font-size: 14px;
  }
  .img-fluid{
    height: 800px !important;
  }
  .header.active{
    padding:0.5rem 1rem !important;
  }
}

@media screen and (min-width: 1000px) {
  .navbar-expand-lg {
    padding: 2rem 4rem;
  }
  .brand3{
    padding-left: 3.5rem;
  }
}
